<%= javascript_include_tag :all, :wysihat %>
<script type="text/javascript">

Event.observe(window, 'load', function() {
  var editor = WysiHat.Editor.attach('<%=  @activity.css_id %>');
  new WysiHat.Toolbar(editor, {buttonSet: WysiHat.Toolbar.ButtonSets.Basic});
  
  toolbar.addButton(
    { name: 'bold', label: "Bold" }, function(editor) {
    editor.boldSelection();
  });

  toolbar.addButton(
    { name: 'underline', label: "Underline" }, function(editor) {
    editor.underlineSelection();
  });

  toolbar.addButton(
    { name: 'italic', label: "Italic" }, function(editor) {
    editor.italicSelection();
  });
  
});
</script>

<h1>Editing activity <% @activity.name %> </h1>

<%= image_tag "piper_64x64.jpg" %>

<div class="new_question" id="1234567890">add question</div>
<%= draggable_element("1234567890", :ghosting=>true, :revert=>true) %>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p>
	<big><%= @activity.uuid %> </br></big><br/>
	<%= f.label :name, "name" %>
	<%= f.text_field :name %>
	<hr/>
	<%= f.label :xhtml, "Xhtml" %> <br/>
	
	<%= f.text_area :xhtml, :class => @activity.css_class_edit, :id => @activity.css_id, :rows => 24, :cols => 80 %> <br/>
	<div class="xhtml" id="<%= @activity.uuid %>">
	<%= f.submit "Update" %>
	
	
	<!-- %= collection_select(:owner, :id, @owners, :id, :name, options = {}, html_options = {}) % -->
  </p> 
<% end %>
<br/>
<hr/>
<%= link_to 'Show',  @activity %> |
<%= link_to "List", :action => "index" %> |