

<div id="<%= @activity.css_id%>" class="<%= @activity.css_class_view %>">
	<%= @activity.xhtml %>
</div>

<%= link_to "List", :action => "index" %> |
<%= link_to "Edit", :action => "edit" %> 

<script type="text/javascript" charset="utf-8">
	var questions = $$('.question_edit_button');
	questions.each(function(e) {
		replace_question(e);
	});


	function replace_question(element) {
		var q = Question.find(element.id)

		var view_question = new Element('div', {
			'id': q.id,
			'class': 'question', 
		}).update('<br/>Q:' + q.prompt + '<br/>');

		var responseForm = generateResponseForm(q).wrap(view_question);
		element.insert({ before: responseForm });
		element.remove();
	}


	function generateResponseForm(question) {
		var response = Response.create({response_text : question.default_response, question_id : question.id});
		var input = new Element('input', {
			'type' : 'text',
			'value' : response.response_text,
			'id' : response.id,
			'class' : 'response'
		});

		var submit = new Element('a', {
			'type' : 'submit',
			'class' : 'submit'
		}).update("answer");
		
		var form = new Element ('form');
		input.wrap(form);
		submit.wrap(form);
		// input.observe('change',function(e) {
		// 		response.response_text = input.value;
		// 		response.save();
		// 	});
		
		submit.observe('click',function(e) {
			response.save(function() {
				submit.update('update answer');
			});
		});
		return form;
	}
</script>